// Estilos Globales
body {
  margin: 0px;
  padding: 0px;
}

.product-grid {
  display: grid !important;
  grid-template-columns: repeat(4,1fr) !important;
}

// Estilos para otras resoluciones
@media(min-width: 576px){
  .product-grid {
    grid-template-columns: repeat(3,1fr);
  }
}
// Importando Estilos de Swipper

@import '~swiper/swiper-bundle';
